canvas {
    display: inline-block
}

html {
    font-size: 100%
}

input {
    margin: 0;
    vertical-align: middle
}

tr {
    page-break-inside: avoid
}

p {
    orphans: 3;
    widows: 3
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    padding-top: 25px;
}

[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 20px
}

.container, .span12 {
    width: 940px
}

.span9 {
    width: 700px
}

.span8 {
    width: 620px
}

.span6 {
    width: 460px
}

.span4 {
    width: 300px
}

.span3 {
    width: 220px
}

.row-fluid {
    width: 100%
}

    .row-fluid [class*=span] {
        display: block;
        float: left;
        width: 100%;
        margin-left: 2.12766%;
        box-sizing: border-box
    }

    .row-fluid .span12 {
        width: 100%
    }

    .row-fluid .span9 {
        width: 74.4681%
    }

    .row-fluid .span8 {
        width: 65.9574%
    }

    .row-fluid .span4 {
        width: 31.9149%
    }

    .row-fluid .span3 {
        width: 23.4043%
    }

.container {
    margin-right: auto;
    margin-left: auto
}

p {
    margin: 0 0 10px
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0 none
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    color: #333;
    border-width: 0 0 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none
}

input {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 206px;
    margin-left: 0
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table {
    width: 100%
}

    .table td, .table th {
        padding: 8px;
        text-align: left;
        vertical-align: top
    }

    .table td {
        border-bottom: 1px solid #DDD
    }

    .table th {
        border-bottom: 1px solid #000;
        font-weight: 700
    }

.table-condensed td, .table-condensed th {
    padding: 4px 5px
}

.table-bordered {
    border-width: 1px 1px 1px 0;
    border-style: solid solid solid none;
    border-color: #000;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-collapse: separate;
    border-radius: 0px
}

    .table-bordered td, .table-bordered th {
        border-left: 1px solid #000
    }

    .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
        border-top-left-radius: 0px
    }

    .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
        border-top-right-radius: 0px
    }

    .table-bordered tbody:last-child tr:last-child > td:first-child {
        border-bottom-left-radius: 0px
    }

    .table-bordered tbody:last-child tr:last-child > td:last-child {
        border-bottom-right-radius: 0px
    }

.container {
    width: 700px;
    font-size: 12px;
    line-height: 16px;
    padding: 25px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    min-height: 800px;
}

.invName {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 3px;
    text-transform: uppercase
}

legend {
    border-bottom-color: #DDD;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px
}

.table td, .table th {
    line-height: 16px
}

.table-bordered > tbody > tr.thead > th {
    text-align: center
}

.table tr.thead th {
    vertical-align: middle
}

.table {
    margin-bottom: 5px
}

    .table td.text-right {
        text-align: right
    }

    .table td.text-center {
        text-align: center
    }

.row-fluid [class*=span]:first-child {
    margin-left: 0
}

.row-fluid .span6 {
    width: 48.9362%
}

.row-fluid [class*=span] {
    min-height: 20px
}

.footer {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 10px
}

.row-fluid:after {
    clear: both
}

.row-fluid:after, .row-fluid:before {
    content: "";
    display: table;
    line-height: 0
}

.pull-right[class*=span], .row-fluid .pull-right[class*=span] {
    float: right
}

.percentage:after {
    content: " %"
}

tr:last-child td {
    border-bottom: none
}

@media print {
    .container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    .no-print {
        display: none !important
    }
}

.divButton {
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    line-height: 16px;
    padding: 10px
}

    .divButton .button {
        float: right
    }

    .divButton:after, .divButton:before {
        content: "";
        display: table;
        line-height: 0
    }

    .divButton:after {
        clear: both
    }
.item-row td{
    border-bottom-color: #DDD;
}
.invoice_background {
    width: 650px;
    position: absolute;
    text-align: center;
    padding-left: 25px;
    padding-top: 100px;
    z-index: -1;
}
    .invoice_background img {
        width: 600px;
        opacity: 0.2;
    }

    .button {
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear,left top,left bottom,from(#3e779d),to(#65a9d7));
        background: -webkit-linear-gradient(top,#3e779d,#65a9d7);
        background: -moz-linear-gradient(top,#3e779d,#65a9d7);
        background: -ms-linear-gradient(top,#3e779d,#65a9d7);
        background: -o-linear-gradient(top,#3e779d,#65a9d7);
        padding: 5px 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: rgba(0,0,0,1)0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1)0 1px 0;
        box-shadow: rgba(0,0,0,1)0 1px 0;
        text-shadow: rgba(0,0,0,.4)0 1px 0;
        color: #fff;
        font-size: 14px;
        font-family: Georgia,serif;
        text-decoration: none;
        vertical-align: middle
    }

    .button:hover {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
        cursor: pointer
    }

    .button:active {
        border-top-color: #1b435e;
        background: #1b435e
    }

[class*=" icon-"], [class^=icon-] {
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px
}

.icon-white {
    background-image: url(../img/glyphicons-halflings-white.png)
}

.icon-print {
    background-position: -96px -48px
}

.signature {
    position: relative;
    border: solid 1px #dc3545;
    color: #dc3545;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 5px;
}
    .signature img {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        height: 70px;
        right: 10px;
        top: 0px;
        z-index: -1;
        opacity: 0.6;
    }