@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-title">
    <span>Đăng ký phát hành hóa đơn</span>
</div>
<fieldset style="padding-top: 15px;">
    <b>Thông báo:</b> Thao tác thành công.
</fieldset>
