@{
    ViewBag.Title = "_MenuCategory";
}
<div style="padding-bottom: 15px;">
    <a class="badge bg-orange" href="/Customer/Index"><i class="fa fa-exclamation-triangle"></i> Hóa đơn chưa xác thực</a>
    <a class="" href="/Customer/Index"><i class="fa fa-exclamation-triangle"></i> Hóa đơn đã xác thực</a>
    <a class="badge bg-danger" href="/Customer/Index"><i class="fa fa-exclamation-triangle"></i> Hóa đơn xác thực lỗi</a>
    <a class="badge bg-purple" href="/Customer/Index"><i class="fa fa-exclamation-triangle"></i> Hóa đơn đã hủy</a>
</div>

